.max-temp{
    color: #5F6075;
}

#cards-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.card{
    margin: 10% 0;
    padding: 5% 0;
    border-radius: 10px;
    background-color: #1E213A;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 500px){
    .card{
        margin: 5% 0;
        padding: 2.5% 0;
        font-size: 2rem;
    }
    .card div{
        margin: 0.5rem 0;;
    }
    .card img{
        width: 30%;
    }
    .card-temp{
        margin: 0.5rem 0;
        text-align: center;
    }
}