.max-temp{
    color: #5F6075;
}

#cards-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.card{
    margin: 10% 0;
    padding: 5% 0;
    border-radius: 10px;
    background-color: #1E213A;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}