.Actual_weather_container {
    background-color: #1E213A;
    padding-bottom: 3rem;
}
header {
    display: flex;
    justify-content: space-between;
}
.Future_weather_container{
    background-color: #100E1D;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#infos-today-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.infos-today{
    width: 80%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    border-radius: 10px;
    background-color: #1E213A;
}

/* la partie recherche */
#search_container{
    background-color: #1E213A;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
}
.close-search{
    animation-name: pageAccueil;
    animation-duration: 1s;
    animation-timing-function: linear;
    z-index: 2;
}
.noSearch{
    display: none;
}
@keyframes pageAccueil{
    0%{  
        display: flex;
        transform: translateX(0%);
    }
    100%{
        display: flex;
        transform: translateX(-100%);
    }
}
.research{
    display: flex;
    animation-name: pageSearch;
    animation-duration: 1s;
    animation-timing-function: linear;
    z-index: 2;
}
@keyframes pageSearch{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

#search-form{
    width: 100%;
}
#return-home{
    align-self: flex-end;
    margin: 0.5rem 0.5rem 0 0;
    height: 1rem;
    background-image: url('../../images/croix2.png');
    background-color: #1E213A;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    outline: none;
    border: none;
}
#search-section{
    display: flex;
    justify-content: center;
    width: 100%;
}
#search-bar, #loupe{
    border-color: white;
    border-style: solid;
    background-color: #1E213A;
    padding: 0.5rem 0 0.5rem 0;
}
#loupe{
    background-position: center;
    background-image: url("../../images/loupe.png");
    background-size: 40%;
    background-repeat: no-repeat;
    border-width: 1px 0 1px 1px;
    width: 10%;
}
#search-bar{
    border-width: 1px 1px 1px 0;
    outline: none;
}
#search-section button{
    margin-left: 0.5rem;
    background-color: #3C47E9;
    outline: none;
    border: none;
    font-size: 0.8rem;
}
#search-section button:hover{
    cursor: pointer;
}

#list-cities{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 0;
}
#list-cities a{
    padding: 1rem;
    margin: 0.5rem 0;
    text-decoration: none;
    width: 80%;
    border: white solid 1px;
    align-self: center;
}
.li-city{
    width: 100%;
}
/* la partie forecast de home */
#forecast_container{
    margin-top: 2rem;
    overflow-x: hidden;
    width: 100%;
}

/* media queries */

@media only screen and (min-width: 500px){
    #container{
        display: flex;
    }
    .Actual_weather_container {
        width: 100%;
        overflow: hidden;
    }
    .Future_weather_container{
        width: 100%;
        justify-content: center;
    }

    #search_container{
        width: 50%;
    }
    #search-bar{
        width: 40%;
        height: 3rem;
        font-size: 1.2rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    .infos-today div{
        font-size: 1.2rem;
    }

    #forecast_container{
        margin-top: 0;
        background-color: #2f3244;
    }
}

@media only screen and (max-width: 649px){
    header {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}